.home-section {
  min-height: 100vh;

  display: flex;

  align-items: center;

  justify-content: center;

  padding: 100px 10% 60px;

  background: linear-gradient(180deg, #020617, #020617, #031a2f);
}

.home-container {
  display: flex;

  align-items: center;

  justify-content: space-between;

  width: 100%;

  max-width: 1100px;

  gap: 50px;
}

/* LEFT SIDE */

.home-text {
  flex: 1;
}

.home-intro {
  font-size: 18px;

  color: #94a3b8;

  margin-bottom: 10px;
}

.home-name {
  font-size: 52px;

  font-weight: bold;

  color: white;

  margin-bottom: 10px;
}

.home-role {
  font-size: 28px;

  color: #00bfff;

  margin-bottom: 20px;
}

.home-description {
  font-size: 18px;

  color: #cbd5e1;

  line-height: 1.6;

  margin-bottom: 25px;
}

/* TAGS */

.home-tags {
  display: flex;

  gap: 12px;

  flex-wrap: wrap;
}

.home-tags span {
  padding: 6px 14px;

  border: 1px solid #00bfff;

  border-radius: 6px;

  color: #00bfff;

  font-size: 14px;
}

/* IMAGE */

.home-image {
  flex: 1;

  display: flex;

  justify-content: center;
}

.home-image img {
  width: 260px;

  border-radius: 15px;

  border: 3px solid #00bfff;

  box-shadow: 0 0 25px rgba(0, 191, 255, 0.5);
}
